# Next.js
.next/
out/
.vercel/

# Dependencies
node_modules/

# Environment
.env.local
.env*.local

# Build
build/
dist/

# Misc
.DS_Store
*.log

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
